body {
  background: #fafafa 50% 0 repeat;
}

.progress {
    width: 100%;
    text-align: center;
}

.tf1,
.tf2,
.tf0,
.tf,
{
    height: 480px;
    overflow: auto;
}

.tfl 
{
    height: 600px;
    width: 100%;
}

.footer,
.title
{
  font-weight: bold;
  color: #444;
  text-align:center;
  background-color: #eee;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

select#species,
select#mark {
    width:86%;
}

.box2,
.box1 {
    height: 223px;
}

.genes {
  resize: none;
  width: 86%;
  height: 135.3px;
  color: black;
}

/* /\* .sp { *\/ */
/* /\*   margin: 12px 12px 12px 12px; *\/ */
/* /\*   text-align: center; *\/ */
/* /\* } *\/ */


/* /\* .main_content { *\/ */
/* /\*   border-bottom: 2px solid #444; *\/ */
/* /\*   text-align: center; *\/ */
/* /\* } *\/ */

.run {
    margin: 0px 24px 5px 2px;
}

/* .bd-example-modal-lg { */
/*     width: 1000px; */
/* } */

td { vertical-align:middle; }
td:hover {
   cursor: pointer;
}

img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.inspector_attrib_row {
border-bottom: 1px #d6d6d6 solid;
border-right: 1px #d6d6d6 solid
}

.circle-col {
width: 12.5%;
position: relative;
float: left;
}

.circle {
background: #A9A9A9;
height: 23px;
width: 23px;
border-radius: 50%;
margin: 0 auto;
}

.green {
background-color: #27ae60;
}

.red {
background-color: #c0392b;
}

